@use '../abstracts/breakpoints';
@use '../abstracts/mixins';

.achievement-stats {
    @include mixins.flex-center;

    margin: 30px auto 50px;

    @media (max-width: breakpoints.$tablet) {
        flex-direction: column;
    }

    &__trophies {
        width: 50%;

        @media (max-width: breakpoints.$tablet) {
            width: 100%;
        }

        > h4 {
            margin: 0 auto 15px;
            text-align: center;
            font-size: 24px;
            font-weight: 600;
            color: var(--blue);
        }

        > div {
            @include mixins.flex-center;
        }
    }

    &__points {
        position: relative;
        width: 50%;
        text-align: center;
        color: var(--blue);
        font-weight: 600;

        @media (max-width: breakpoints.$tablet) {
            width: 100%;
            margin-bottom: 20px;
        }

        > span {
            font-size: 52px;
            letter-spacing: 1px;
            border-bottom: 3px dashed var(--blue);
            cursor: help;

            @media (max-width: breakpoints.$large-mobile) {
                font-size: 40px;
                letter-spacing: 0.5px;
            }

            &:hover ~ .achievement-stats__points-help,
            &:hover ~ .achievement-stats__points-help:before {
                transform: translateX(-50%) scale(1);
                opacity: 1;
            }
        }
    }

    &__points-help {
        position: absolute;
        top: 100%;
        left: 50%;
        padding: 10px 15px;
        width: max-content;
        border-radius: 10px;
        transition: 0.3s ease-in-out;
        transform-origin: top;
        transform: translateX(-50%) scale(0);
        opacity: 0;
        font-size: 16px;
        background-color: #fff;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
        z-index: 30;

        &:before {
            position: absolute;
            top: -6px;
            left: 50%;
            opacity: 0;
            transform-origin: bottom;
            transition: 0.3s ease-in-out;
            transform: translateX(-50%) scale(0);
            content: '';
            width: 0;
            border-right: 8px solid transparent;
            border-left: 8px solid transparent;
            border-bottom: 8px solid #fff;
            filter: drop-shadow(0 -6px 4px rgba(0, 0, 0, 0.3));
        }

        > p {
            @include mixins.flex-center;
            justify-content: flex-start;

            margin: 6px auto;

            .achievement__prize {
                margin-left: 0;
            }
        }
    }
}

.achievement-trophy {
    @include mixins.flex-center;

    flex-direction: column;
    margin-right: 25px;

    &:last-of-type {
        margin-right: 0;
    }

    &__image {
        --size: 52px;

        position: relative;
        display: block;
        height: var(--size);
        width: var(--size);
        margin-bottom: 8px;
        background-size: contain;
        background-image: var(--img);
        background-repeat: no-repeat;
        background-position: center;

        @media (max-width: breakpoints.$large-mobile) {
            --size: 46px;
        }

        @media (max-width: breakpoints.$small-mobile) {
            --size: 42px;
        }

        &_bronze {
            --img: var(--bronze-trophy-url);
        }

        &_silver {
            --img: var(--silver-trophy-url);
        }

        &_golden {
            --img: var(--golden-trophy-url);
        }

        &_ruby {
            --img: var(--ruby-trophy-url);
        }

        &_platinum {
            --img: var(--platinum-trophy-url);
        }
    }

    &__count {
        color: var(--lightblack);
        font-size: 18px;
        line-height: 18px;
        font-weight: 600;
        user-select: none;
    }
}