@use '../abstracts/breakpoints';
@use '../abstracts/mixins';

.achievement-modal {
    $duration: 700ms;
    position: absolute;
    border-radius: 10px;
    background: white;
    box-shadow: var(--card-shadow);
    //noinspection CssInvalidFunction
    transform: translateZ(0);
    outline: none;

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1050;
    }

    .achievement {
        width: 100%;
        height: 100%;
        will-change: unset;

        &__front-face {
            justify-content: center;

            &::after {
                content: none;
            }
        }

        &__body {
            display: flex;
        }

        &__icon {
            margin-right: 0;
            //noinspection CssInvalidFunction
            transform: translateZ(0);
            will-change: width, height;
            @include mixins.all-ease-in-out-transition($duration);
        }

        &__title {
            @include mixins.all-ease-in-out-transition($duration);
        }


        &__description {
            @include mixins.max-height-zero($duration);

            display: block;
            padding: 0 10px;
            line-height: 18px;
        }

        &__progress {
            @include mixins.all-ease-in-out-transition($duration);

            @media (max-width: breakpoints.$tablet) {
                opacity: 0;
                transition: opacity 0.2s linear;
            }
        }

        &__rarity {
            @include mixins.max-height-zero($duration);

            display: block;
        }

    }

    &_opening {
        @media (max-width: breakpoints.$tablet) {
            .achievement__progress > progress {
                display: none;
            }
        }
    }

    &_near-opened {
        @media (max-width: breakpoints.$tablet) {
            .achievement__progress > progress {
                display: block;
            }
        }
    }

    &_opened {
        @media (max-width: breakpoints.$tablet) {
            .achievement__progress {
                opacity: 1;
            }
        }
    }

    &_opening, &_near-opened, &_opened {
        .achievement__icon {
            width: 256px;
            height: 256px;

            @media (max-width: breakpoints.$large-mobile) {
                width: 200px;
                height: 200px;
            }
        }

        .achievement__title {
            font-size: 24px;

            @media (max-width: breakpoints.$large-mobile) {
                font-size: 20px;
            }
        }

        .achievement__description {
            max-height: 90px;

            @media (max-width: breakpoints.$small-mobile) {
                max-height: 126px;
            }
        }

        .achievement__progress {
            width: 80%;
            height: 11px;
        }

        .achievement__rarity {
            max-height: 36px;

            @media (max-width: breakpoints.$tablet) {
                max-height: 52px;
            }
        }
    }

    &_closing {
        .achievement__description, .achievement__rarity {
            transition-delay: 0s !important;
            max-height: 0;
        }

        .achievement__progress {
            @media (max-width: breakpoints.$tablet) {
                width: 80%;
                height: 11px;
                opacity: 0;
            }
        }
    }

    &_near-closed, &_closed {
        .achievement__description,
        .achievement__rarity {
            display: none;
        }

        .achievement__progress {
            @media (max-width: breakpoints.$tablet) {
                display: none;
            }
        }
    }
}

.completed-group-modal {
    @include mixins.flex-center;
    flex-direction: column;

    position: absolute;
    left: calc(50% - 250px);
    top: calc(50% - 210px);
    width: 500px;
    height: 420px;
    padding: 0 20px;
    background-color: #fff;
    border-radius: 10px;
    outline: none;
    transition: opacity 0.4s linear;
    opacity: 0;

    @media (max-width: breakpoints.$tablet) {
        width: 90%;
        left: 5%;
    }

    &_opened {
        opacity: 1;
    }

    &_closing {
        opacity: 0;
    }

    &__icon {
        width: 256px;
        height: 256px;

        @include mixins.all-ease-in-out-transition(0.3s);

        @media (max-width: breakpoints.$small-mobile) {
            width: 200px;
            height: 200px;
        }
    }

    &__text {
        margin: 15px auto 0;
        text-align: center;
        color: var(--blue);
        font-size: 20px;
        line-height: 26px;

        @media (max-width: breakpoints.$tablet) {
            font-size: 18px;
            line-height: 24px;
        }
    }
}