@use '../abstracts/breakpoints';

.achievement-modal {
    $duration: 600ms;

    position: absolute;
    border-radius: 10px;
    background: white;
    box-shadow: var(--card-shadow);
    //noinspection CssInvalidFunction
    transform: translateZ(0);
    outline: none;

    &_opened {

    }

    &_closing {

    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
    }

    .perspective-card {
        width: 100%;
        height: 100%;
        margin: 0;
        perspective: none;
        cursor: default;
    }

    .perspective-card .achievement {
        height: 100%;
        will-change: unset;
    }

    .perspective-card:hover .achievement {
        transform: none;
    }

    .achievement__front-face {
        height: 100%;
        min-height: unset;
        max-height: unset;
        justify-content: center;
    }

    .achievement__front-face::after {
        content: none;
    }

    .achievement__body {
        display: flex;
    }

    .achievement__body > * {
        transition: all ease-in-out $duration;
    }

    .achievement__icon {
        margin-right: 0;
        //noinspection CssInvalidFunction
        transform: translateZ(0);
        will-change: width, height;
    }

    %max-height-zero {
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out $duration, max-height $duration * 0.65 ease-in-out $duration * 0.35;
    }

    .achievement__description {
        @extend %max-height-zero;

        display: block;
        padding: 0 10px;
        line-height: 18px;
    }

    .achievement__progress {
        @media (max-width: breakpoints.$tablet) {
            transition: opacity 0.2s linear;
            opacity: 0;
        }
    }

    .achievement__rarity {
        @extend %max-height-zero;

        display: block;
    }

    &_opening {
        @media (max-width: breakpoints.$tablet) {
            .achievement__progress {
                visibility: hidden;
            }
        }
    }

    &_near-opened {
        @media (max-width: breakpoints.$tablet) {
            .achievement__progress {
                visibility: visible;
            }
        }
    }

    &_opened {
        @media (max-width: breakpoints.$tablet) {
            .achievement__progress {
                opacity: 1;
            }
        }
    }

    &_opening, &_near-opened, &_opened {
        .achievement__icon {
            width: 256px;
            height: 256px;

            @media (max-width: breakpoints.$large-mobile) {
                width: 200px;
                height: 200px;
            }
        }

        .achievement__title {
            font-size: 24px;

            @media (max-width: breakpoints.$large-mobile) {
                font-size: 20px;
            }
        }

        .achievement__description {
            max-height: 65px;

            @media (max-width: breakpoints.$small-mobile) {
                max-height: 82px;
            }
        }

        .achievement__progress {
            width: 80%;
            height: 11px;
        }

        .achievement__rarity {
            max-height: 14px;

            @media (max-width: breakpoints.$small-mobile) {
                max-height: 28px;
            }
        }
    }

    &_closing {
        .achievement__description, .achievement__rarity {
            transition-delay: 0s !important;
            max-height: 0;
        }

        .achievement__progress {
            @media (max-width: breakpoints.$tablet) {
                width: 80%;
                height: 11px;
                opacity: 0;
            }
        }
    }

    &_near-closed, &_closed {
        .achievement__description,
        .achievement__rarity {
            display: none;
        }

        .achievement__progress {
            @media (max-width: breakpoints.$tablet) {
                display: none;
            }
        }
    }
}