//noinspection CssInvalidFunction
@keyframes moving-flare-desktop {
    from {
        transform: skew(-45deg) translate3d(0, 0, 0);
    }
    to {
        transform: skew(-45deg) translate3d(580px, 0, 0);
    }
}
//noinspection CssInvalidFunction
@keyframes moving-flare-desktop-wide {
    from {
        transform: skew(-45deg) translate3d(0, 0, 0);
    }
    to {
        transform: skew(-45deg) translate3d(1000px, 0, 0);
    }
}
//noinspection CssInvalidFunction
@keyframes moving-flare-mobile {
    from {
        transform: skew(-45deg) translate3d(0, 0, 0);
    }
    to {
        transform: skew(-45deg) translate3d(160vw, 0, 0);
    }
}