@use '../abstracts/breakpoints';

body.scroll-locked {
    overflow: hidden;

    #root {
        padding-right: var(--scrollbar-width);
    }
}

@media only screen and (max-width: breakpoints.$tablet) {
    .container {
        width: 95%;
    }
}

@media (prefers-reduced-motion: reduce) {
    *, *::after, *::before {
        transition-delay: 0s !important;
        transition-duration: 0s !important;
        animation-duration: 0s !important;
        animation-delay: 0s !important;
    }
}