@use 'breakpoints';

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --blue: #008dd2;
    --lightblack: #202020;
    --grey: #505050;
    --lightgrey: #808080;
    --bronze-trophy-url: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 60'%3E%3Cpath fill='%23c97458' d='M23,47a3,3,0,0,0,3-3V40.57h8V44a3,3,0,0,0,3,3l-7,1Z'%3E%3C/path%3E%3Cpath fill='%23c97458' d='M11.43,26H11a6,6,0,0,1-6-6V11a1,1,0,0,1,1-1h6V6H4A3,3,0,0,0,1,9V20A10,10,0,0,0,11,30h1.77Z'%3E%3C/path%3E%3Cpath fill='%23c97458' d='M48.57,26H49a6,6,0,0,0,6-6V11a1,1,0,0,0-1-1H47V6h9a3,3,0,0,1,3,3V20A10,10,0,0,1,49,30H47.23Z'%3E%3C/path%3E%3Cpath fill='%23e58e68' d='M49,5V22A19,19,0,0,1,30,41h0A19,19,0,0,1,11,22V5Z'%3E%3C/path%3E%3Crect width='42' height='5' x='9' y='1' fill='%23eca689' rx='2'%3E%3C/rect%3E%3Cpath fill='%235d7f89' d='M16,57V49a2,2,0,0,1,2-2H42a2,2,0,0,1,2,2v8Z'%3E%3C/path%3E%3Crect width='34' height='4' x='13' y='55' fill='%23527077' rx='1'%3E%3C/rect%3E%3Cpath fill='%23383838' d='M 56 5 H 51.816 A 2.966 2.966 0 0 0 52 4 V 3 a 3 3 0 0 0 -3 -3 H 11 A 3 3 0 0 0 8 3 V 4 a 2.966 2.966 0 0 0 0.184 1 H 4 A 4 4 0 0 0 0 9 V 20 A 11.013 11.013 0 0 0 11 31 h 1.164 A 20.055 20.055 0 0 0 25 41.342 V 44 a 2 2 0 0 1 -2 2 H 18 a 3 3 0 0 0 -3 3 v 5 H 14 a 2 2 0 0 0 -2 2 v 2 a 2 2 0 0 0 2 2 H 46 a 2 2 0 0 0 2 -2 V 56 a 2 2 0 0 0 -2 -2 H 45 V 49 a 3 3 0 0 0 -3 -3 H 37 a 2 2 0 0 1 -2 -2 V 41.36 a 19.944 19.844 0 0 0 10.16 -6.36 a 1 1 0 0 0 -1.16 -1.629 A 18 18 0 0 1 12 22 V 7 H 48 V 22 a 17.957 17.957 0 0 1 -4.736 12.169 a 1 1 0 1 0 1.472 1.352 A 19.985 19.985 0 0 0 47.861 31 H 49 A 11.013 11.013 0 0 0 60 20 V 9 A 4 4 0 0 0 56 5 Z M 46 58 H 14 V 56 H 46 Z M 42 48 a 1 1 0 0 1 1 1 v 5 H 17 V 49 a 1 1 0 0 1 1 -1 Z m -9 -6.226 V 44 a 3.959 3.959 0 0 0 0.556 2 H 26.444 A 3.959 3.959 0 0 0 27 44 V 41.75 A 19.916 19.916 0 0 0 30 42 A 20.194 20.194 0 0 0 33 41.774 Z M 10 4 V 3 a 1 1 0 0 1 1 -1 H 49 a 1 1 0 0 1 1 1 V 4 a 1 1 0 0 1 -1 1 H 11 A 1 1 0 0 1 10 4 Z m 1 25 a 9.011 9.011 0 0 1 -9 -9 V 9 A 2 2 0 0 1 4 7 h 6 V 9 H 6 a 2 2 0 0 0 -2 2 v 9 a 7 7 0 0 0 6.654 6.982 A 19.624 19.624 0 0 0 11.289 29 Z m -0.762 -4.077 A 4.994 4.994 0 0 1 6 20 V 11 h 4 V 22 A 19.988 19.988 0 0 0 10.238 24.923 Z M 50 11 h 4 v 9 a 4.994 4.994 0 0 1 -4.234 4.923 A 20.157 20.157 0 0 0 50 22 Z m 8 9 a 9.01 9.01 0 0 1 -9 9 h -0.272 a 19.875 19.875 0 0 0 0.626 -2.018 A 7 7 0 0 0 56 20 V 11 a 2 2 0 0 0 -2 -2 H 50 V 7 h 6 a 2 2 0 0 1 2 2 Z'%3E%3C/path%3E%3C/svg%3E");
    --silver-trophy-url: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 60'%3E%3Cpath fill='%238aaaaf' d='M23,47a3,3,0,0,0,3-3V40.57h8V44a3,3,0,0,0,3,3l-7,1Z'%3E%3C/path%3E%3Cpath fill='%238aaaaf' d='M11.43,26H11a6,6,0,0,1-6-6V11a1,1,0,0,1,1-1h6V6H4A3,3,0,0,0,1,9V20A10,10,0,0,0,11,30h1.77Z'%3E%3C/path%3E%3Cpath fill='%238aaaaf' d='M48.57,26H49a6,6,0,0,0,6-6V11a1,1,0,0,0-1-1H47V6h9a3,3,0,0,1,3,3V20A10,10,0,0,1,49,30H47.23Z'%3E%3C/path%3E%3Cpath fill='%23adc7c8' d='M49,5V22A19,19,0,0,1,30,41h0A19,19,0,0,1,11,22V5Z'%3E%3C/path%3E%3Crect width='42' height='5' x='9' y='1' fill='%23b7d0d2' rx='2'%3E%3C/rect%3E%3Cpath fill='%235d7f89' d='M16,57V49a2,2,0,0,1,2-2H42a2,2,0,0,1,2,2v8Z'%3E%3C/path%3E%3Crect width='34' height='4' x='13' y='55' fill='%23527077' rx='1'%3E%3C/rect%3E%3Cpath fill='%23383838' d='M 56 5 H 51.816 A 2.966 2.966 0 0 0 52 4 V 3 a 3 3 0 0 0 -3 -3 H 11 A 3 3 0 0 0 8 3 V 4 a 2.966 2.966 0 0 0 0.184 1 H 4 A 4 4 0 0 0 0 9 V 20 A 11.013 11.013 0 0 0 11 31 h 1.164 A 20.055 20.055 0 0 0 25 41.342 V 44 a 2 2 0 0 1 -2 2 H 18 a 3 3 0 0 0 -3 3 v 5 H 14 a 2 2 0 0 0 -2 2 v 2 a 2 2 0 0 0 2 2 H 46 a 2 2 0 0 0 2 -2 V 56 a 2 2 0 0 0 -2 -2 H 45 V 49 a 3 3 0 0 0 -3 -3 H 37 a 2 2 0 0 1 -2 -2 V 41.36 a 19.944 19.844 0 0 0 10.16 -6.36 a 1 1 0 0 0 -1.16 -1.629 A 18 18 0 0 1 12 22 V 7 H 48 V 22 a 17.957 17.957 0 0 1 -4.736 12.169 a 1 1 0 1 0 1.472 1.352 A 19.985 19.985 0 0 0 47.861 31 H 49 A 11.013 11.013 0 0 0 60 20 V 9 A 4 4 0 0 0 56 5 Z M 46 58 H 14 V 56 H 46 Z M 42 48 a 1 1 0 0 1 1 1 v 5 H 17 V 49 a 1 1 0 0 1 1 -1 Z m -9 -6.226 V 44 a 3.959 3.959 0 0 0 0.556 2 H 26.444 A 3.959 3.959 0 0 0 27 44 V 41.75 A 19.916 19.916 0 0 0 30 42 A 20.194 20.194 0 0 0 33 41.774 Z M 10 4 V 3 a 1 1 0 0 1 1 -1 H 49 a 1 1 0 0 1 1 1 V 4 a 1 1 0 0 1 -1 1 H 11 A 1 1 0 0 1 10 4 Z m 1 25 a 9.011 9.011 0 0 1 -9 -9 V 9 A 2 2 0 0 1 4 7 h 6 V 9 H 6 a 2 2 0 0 0 -2 2 v 9 a 7 7 0 0 0 6.654 6.982 A 19.624 19.624 0 0 0 11.289 29 Z m -0.762 -4.077 A 4.994 4.994 0 0 1 6 20 V 11 h 4 V 22 A 19.988 19.988 0 0 0 10.238 24.923 Z M 50 11 h 4 v 9 a 4.994 4.994 0 0 1 -4.234 4.923 A 20.157 20.157 0 0 0 50 22 Z m 8 9 a 9.01 9.01 0 0 1 -9 9 h -0.272 a 19.875 19.875 0 0 0 0.626 -2.018 A 7 7 0 0 0 56 20 V 11 a 2 2 0 0 0 -2 -2 H 50 V 7 h 6 a 2 2 0 0 1 2 2 Z'%3E%3C/path%3E%3C/svg%3E");
    --golden-trophy-url: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 60'%3E%3Cpath fill='%23f4b161' d='M23,47a3,3,0,0,0,3-3V40.57h8V44a3,3,0,0,0,3,3l-7,1Z'%3E%3C/path%3E%3Cpath fill='%23f4b161' d='M11.43,26H11a6,6,0,0,1-6-6V11a1,1,0,0,1,1-1h6V6H4A3,3,0,0,0,1,9V20A10,10,0,0,0,11,30h1.77Z'%3E%3C/path%3E%3Cpath fill='%23f4b161' d='M48.57,26H49a6,6,0,0,0,6-6V11a1,1,0,0,0-1-1H47V6h9a3,3,0,0,1,3,3V20A10,10,0,0,1,49,30H47.23Z'%3E%3C/path%3E%3Cpath fill='%23f9ca6d' d='M49,5V22A19,19,0,0,1,30,41h0A19,19,0,0,1,11,22V5Z'%3E%3C/path%3E%3Crect width='42' height='5' x='9' y='1' fill='%23ffd580' rx='2'%3E%3C/rect%3E%3Cpath fill='%235d7f89' d='M16,57V49a2,2,0,0,1,2-2H42a2,2,0,0,1,2,2v8Z'%3E%3C/path%3E%3Crect width='34' height='4' x='13' y='55' fill='%23527077' rx='1'%3E%3C/rect%3E%3Cpath fill='%23383838' d='M 56 5 H 51.816 A 2.966 2.966 0 0 0 52 4 V 3 a 3 3 0 0 0 -3 -3 H 11 A 3 3 0 0 0 8 3 V 4 a 2.966 2.966 0 0 0 0.184 1 H 4 A 4 4 0 0 0 0 9 V 20 A 11.013 11.013 0 0 0 11 31 h 1.164 A 20.055 20.055 0 0 0 25 41.342 V 44 a 2 2 0 0 1 -2 2 H 18 a 3 3 0 0 0 -3 3 v 5 H 14 a 2 2 0 0 0 -2 2 v 2 a 2 2 0 0 0 2 2 H 46 a 2 2 0 0 0 2 -2 V 56 a 2 2 0 0 0 -2 -2 H 45 V 49 a 3 3 0 0 0 -3 -3 H 37 a 2 2 0 0 1 -2 -2 V 41.36 a 19.944 19.844 0 0 0 10.16 -6.36 a 1 1 0 0 0 -1.16 -1.629 A 18 18 0 0 1 12 22 V 7 H 48 V 22 a 17.957 17.957 0 0 1 -4.736 12.169 a 1 1 0 1 0 1.472 1.352 A 19.985 19.985 0 0 0 47.861 31 H 49 A 11.013 11.013 0 0 0 60 20 V 9 A 4 4 0 0 0 56 5 Z M 46 58 H 14 V 56 H 46 Z M 42 48 a 1 1 0 0 1 1 1 v 5 H 17 V 49 a 1 1 0 0 1 1 -1 Z m -9 -6.226 V 44 a 3.959 3.959 0 0 0 0.556 2 H 26.444 A 3.959 3.959 0 0 0 27 44 V 41.75 A 19.916 19.916 0 0 0 30 42 A 20.194 20.194 0 0 0 33 41.774 Z M 10 4 V 3 a 1 1 0 0 1 1 -1 H 49 a 1 1 0 0 1 1 1 V 4 a 1 1 0 0 1 -1 1 H 11 A 1 1 0 0 1 10 4 Z m 1 25 a 9.011 9.011 0 0 1 -9 -9 V 9 A 2 2 0 0 1 4 7 h 6 V 9 H 6 a 2 2 0 0 0 -2 2 v 9 a 7 7 0 0 0 6.654 6.982 A 19.624 19.624 0 0 0 11.289 29 Z m -0.762 -4.077 A 4.994 4.994 0 0 1 6 20 V 11 h 4 V 22 A 19.988 19.988 0 0 0 10.238 24.923 Z M 50 11 h 4 v 9 a 4.994 4.994 0 0 1 -4.234 4.923 A 20.157 20.157 0 0 0 50 22 Z m 8 9 a 9.01 9.01 0 0 1 -9 9 h -0.272 a 19.875 19.875 0 0 0 0.626 -2.018 A 7 7 0 0 0 56 20 V 11 a 2 2 0 0 0 -2 -2 H 50 V 7 h 6 a 2 2 0 0 1 2 2 Z'%3E%3C/path%3E%3C/svg%3E");
    --ruby-trophy-url: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='10 0 40 60'%3E%3Cpath fill='%23ff5a5a' d='M47.61,14.32,30.62,1.21a1.02,1.02,0,0,0-1.24,0L12.39,14.32a.973.973,0,0,0-.37.68.921.921,0,0,0,.08.54L25.95,45,30,47l4.05-2L47.9,15.54a1.015,1.015,0,0,0,.09-.54A1.025,1.025,0,0,0,47.61,14.32Z'%3E%3C/path%3E%3Cpath fill='%23ca5353' d='M30,1,22,15H12.02a.973.973,0,0,1,.37-.68L29.38,1.21A1.009,1.009,0,0,1,30,1Z'%3E%3C/path%3E%3Cpath fill='%23ca5353' d='M47.99,15H38L30,1a1.009,1.009,0,0,1,.62.21L47.61,14.32A1.025,1.025,0,0,1,47.99,15Z'%3E%3C/path%3E%3Cpolygon fill='%23ca5353' points='38 15 30 45 22 15 38 15'%3E%3C/polygon%3E%3Cpath fill='%235d7f89' d='M16,57V47a2,2,0,0,1,2-2H42a2,2,0,0,1,2,2V57Z'%3E%3C/path%3E%3Crect width='34' height='4' x='13' y='55' fill='%23527077' rx='1'%3E%3C/rect%3E%3Cpath fill='%23383838' d='M 48.22 13.532 L 31.232 0.42 a 2.021 2.021 0 0 0 -2.465 0 L 11.78 13.533 a 2 2 0 0 0 -0.591 2.437 L 24.37 44 H 18 a 3 3 0 0 0 -3 3 v 7 H 14 a 2 2 0 0 0 -2 2 v 2 a 2 2 0 0 0 2 2 H 46 a 2 2 0 0 0 2 -2 V 56 a 2 2 0 0 0 -2 -2 H 45 V 47 a 3 3 0 0 0 -3 -3 H 31.3 l 7.467 -28 h 7.817 L 33.4 44 a 1 1 0 0 0 1.811 0.852 l 13.789 -28.852 A 2 2 0 0 0 48.22 13.532 Z M 38.58 14 l -5.5 -9.628 L 45.551 14 Z M 14.451 14 L 26.908 4.4 L 21.42 14 Z M 30 3.016 L 36.277 14 H 23.723 Z M 46 58 H 14 V 56 H 46 Z M 43 47 v 7 H 17 V 47 a 1 1 0 0 1 1 -1 H 42 A 1 1 0 0 1 43 47 Z M 26.581 44 L 13.418 16 h 7.814 L 28.7 44 Z M 30 41.119 L 23.3 16 H 36.7 Z'%3E%3C/path%3E%3C/svg%3E");
    --platinum-trophy-url: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='10 0 40 60'%3E%3Cpath fill='%23dae4f4' d='M32,45l4-23,12.132,0a.867.867,0,0,0,.481-1.588L39,14,43.5,2.13a.831.831,0,0,0-1.183-1.021L30,8,17.686,1.109A.831.831,0,0,0,16.5,2.13L21,14l-9.616,6.413A.867.867,0,0,0,11.868,22L24,22l4,23,2,1Z'%3E%3C/path%3E%3Cpath fill='%235d7f89' d='M16,57V47a2,2,0,0,1,2-2H42a2,2,0,0,1,2,2V57Z'%3E%3C/path%3E%3Crect width='34' height='4' x='13' y='55' fill='%23527077' rx='1'%3E%3C/rect%3E%3Cpath fill='%23383838' d='M 10.081 21.671 A 1.856 1.856 0 0 0 11.868 23 l 11.291 0 l 3.652 21 H 18 a 3 3 0 0 0 -3 3 v 7 H 14 a 2 2 0 0 0 -2 2 v 2 a 2 2 0 0 0 2 2 H 46 a 2 2 0 0 0 2 -2 V 56 a 2 2 0 0 0 -2 -2 H 45 V 47 a 3 3 0 0 0 -3 -3 H 28.841 L 24.985 21.829 A 1 1 0 0 0 24 21 L 12.309 21 l 9.249 -6.169 a 1 1 0 0 0 0.38 -1.186 L 17.6 2.209 L 29.512 8.873 a 1 1 0 0 0 0.976 0 L 42.4 2.209 L 38.062 13.642 a 1 1 0 0 0 0.38 1.186 L 47.691 21 L 36 21 a 1 1 0 0 0 -0.985 0.829 l -3.87 22.171 a 1 1 0 0 0 1.971 0.342 L 36.841 23 l 11.291 0 a 1.866 1.866 0 0 0 1.035 -3.42 l -8.952 -5.971 L 44.432 2.484 A 1.831 1.831 0 0 0 41.826 0.236 L 30 6.854 L 18.174 0.237 a 1.807 1.807 0 0 0 -2.09 0.211 a 1.814 1.814 0 0 0 -0.516 2.036 l 4.217 11.122 l -8.952 5.971 A 1.858 1.858 0 0 0 10.081 21.671 Z M 46 58 H 14 V 56 H 46 Z M 43 47 v 7 H 17 V 47 a 1 1 0 0 1 1 -1 H 42 A 1 1 0 0 1 43 47 Z'%3E%3C/path%3E%3C/svg%3E");
    --card-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.15);
    --scrollbar-width: 0;
}

body.scroll-locked {
    overflow: hidden;
    padding-right: var(--scrollbar-width);
}

.achievements-container {
    padding: 30px 0;
}

.achievements-header {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0 10px;

    @media (max-width: breakpoints.$tablet) {
        justify-content: center;
    }
}

.trophy {
    --size: 58px;

    height: var(--size);
    width: var(--size);
    background-size: contain;
    margin-right: 20px;

    @media (max-width: breakpoints.$large-mobile) {
        --size: 48px;
    }

    @media (max-width: breakpoints.$small-mobile) {
        --size: 42px;
    }

    &:last-of-type {
        margin-right: 0;
    }

    &_bronze {
        background-image: var(--bronze-trophy-url);
    }

    &_silver {
        background-image: var(--silver-trophy-url);
    }

    &_golden {
        background-image: var(--golden-trophy-url);
    }

    @mixin narrow-trophy($background-image) {
        --height: 60px;
        --width: 40px;

        height: var(--height);
        width: var(--width);
        background-image: $background-image;

        @media (max-width: breakpoints.$large-mobile) {
            --height: 48px;
            --width: 32px;
        }

        @media (max-width: breakpoints.$small-mobile) {
            --height: 42px;
            --width: 28px;
        }
    }

    &_ruby {
        @include narrow-trophy(var(--ruby-trophy-url));
    }

    &_platinum {
        @include narrow-trophy(var(--platinum-trophy-url));
    }
}

.achievement-group {
    margin: 30px auto;

    &_overflow-hidden {
        overflow-y: hidden;
    }

    > summary {
        display: block;
        list-style: none;

        &::-webkit-details-marker {
            display: none;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        margin-bottom: 15px;

        @media (max-width: breakpoints.$large-mobile) {
            flex-direction: column;
        }
    }

    &__line {
        height: 2px;
        width: 100%;
        margin: 0;
        background-color: rgba(0, 141, 210, 0.6);
        border: none;
        border-radius: 3px;
    }

    &__title {
        margin: 0;
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 1px;
        color: var(--blue);
        cursor: pointer;

        @media (max-width: breakpoints.$large-mobile) {
            font-size: 18px;
            letter-spacing: 0.5px;
        }
    }

    &__progress {
        position: relative;
        width: 100%;
        max-width: 350px;

        @media (max-width: breakpoints.$large-mobile) {
            margin-top: 10px;
            width: 80%;
            max-width: unset;
        }

        > span {
            display: block;
            position: absolute;
            top: 4px;
            left: 50%;
            transform: translateX(-50%);
            padding: 0 4px;
            background-color: rgba(255, 255, 255, 0.6);
            border-radius: 15px;
            font-size: 13px;
            letter-spacing: 0.5px;
            color: var(--lightblack);
            user-select: none;
        }

        > progress {
            -webkit-appearance: none;
            appearance: none;
            display: block;
            padding: 2px;
            height: 24px;
            width: 100%;
            background-color: #fff;
            border: 1px solid var(--blue);
            box-shadow: inset 0 0 5px 1px rgba(0, 141, 210, 0.3);
            border-radius: 15px;
            transition: all 500ms linear;

            &::-webkit-progress-bar {
                background-color: transparent;
                border-radius: 15px;
            }

            @mixin progress-value {
                background-color: var(--blue);
                background-image: linear-gradient(-45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
                background-size: 20px 20px;
                border-radius: 15px;
                transition: all 500ms linear;
            }

            &::-webkit-progress-value {
                @include progress-value;
            }

            &::-moz-progress-bar {
                @include progress-value;
            }
        }
    }
}

.achievements-grid {
    @extend %flex-center;

    margin: 6px auto;
    flex-wrap: wrap;
}

.perspective-card {
    width: calc(20% - 20px);
    margin: 10px;
    perspective: 900px;
    cursor: pointer;

    @media (max-width: breakpoints.$large) {
        width: calc(25% - 20px);
        perspective: 800px;
    }

    @media (max-width: breakpoints.$medium) {
        width: calc(33% - 20px);
        perspective: 775px;
    }

    @media (max-width: breakpoints.$tablet) {
        width: 100%;
        perspective: none;
    }
}

.achievement {
    position: relative;
    border-radius: 10px;
    user-select: none;

    @media (min-width: breakpoints.$tablet + 1) {
        $duration: 550ms;

        transition: transform $duration linear 75ms;
        transform-style: preserve-3d;
        will-change: transform;

        .perspective-card:nth-of-type(odd):hover & {
            //noinspection CssInvalidFunction
            transform: rotateY(180deg);
        }

        .perspective-card:nth-of-type(even):hover & {
            //noinspection CssInvalidFunction
            transform: rotateY(-180deg);
        }

        &_clicked {
            transition: transform $duration * 0.4 linear;

            .perspective-card:nth-of-type(1n):hover & {
                transform: rotate(0);
            }
        }
    }
}

.achievement__front-face {
    @extend %flex-center;

    flex-direction: column;
    padding: 8px;
    min-height: 226px;
    max-height: 226px;
    border-radius: 10px;
    background-color: white;
    box-shadow: var(--card-shadow);
    backface-visibility: hidden;

    .achievement_highlight & {
        box-shadow: 0 0 7px 1px rgba(255, 190, 0, 0.6), 0 0 12px 4px rgba(255, 190, 0, 0.3);
    }

    @media (max-width: breakpoints.$tablet) {
        padding: 12px;
        min-height: unset;
        max-height: unset;
    }

    @media (max-width: breakpoints.$large-mobile) {
        padding: 8px;
    }
}

.achievement__back-face {
    @extend %flex-center;

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 8px;
    text-align: center;
    font-size: 16px;
    color: white;
    background-color: var(--lightgrey);
    box-shadow: var(--card-shadow);
    border-radius: 10px;
    //noinspection CssInvalidFunction
    transform: rotateY(180deg);
    backface-visibility: hidden;

    @media (max-width: breakpoints.$tablet) {
        display: none;
    }
}

.achievement__body {
    @extend %flex-center;

    justify-content: space-around;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;

    @media (max-width: breakpoints.$tablet) {
        display: grid;
        grid-template-columns: auto minmax(0, 1fr);
        grid-template-rows: auto minmax(0, 1fr);
        grid-template-areas:
        "icon title title title"
        "icon description description description"
        "icon description description description"
        "icon progress progress progress";
    }
}

.achievement__icon {
    display: block;
    width: 110px;
    height: 110px;
    border-radius: 6px;
    transition: all 500ms linear;

    .achievement_greyscale & {
        filter: grayscale(1);
    }

    @media (max-width: breakpoints.$tablet) {
        grid-area: icon;
        width: 100px;
        height: 100px;
    }

    @media (max-width: breakpoints.$large-mobile) {
        width: 80px;
        height: 80px;
    }
}

.achievement__title {
    margin: 0 auto;
    padding-bottom: 2px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: var(--blue);

    .achievement_greyscale & {
        filter: grayscale(1);
    }

    @media (max-width: breakpoints.$tablet) {
        margin-top: 0;
        grid-area: title;
        font-size: 20px;
    }

    @media (max-width: breakpoints.$large-mobile) {
        font-size: 16px;
        letter-spacing: 0;
    }
}

.achievement__description {
    display: none;
    text-align: center;

    @media (max-width: breakpoints.$tablet) {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        grid-area: description;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        overflow: hidden;
    }

    @media (max-width: breakpoints.$large-mobile) {
        font-size: 14px;
    }
}

.achievement__progress {
    position: relative;
    height: 9px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: breakpoints.$tablet) {
        width: 90%;
        margin-top: 6px;
        grid-area: progress;
    }

    > progress {
        -webkit-appearance: none;
        appearance: none;
        display: block;
        padding: 1px;
        height: 100%;
        width: 100%;
        background-color: white;
        border: 1px solid var(--blue);
        box-shadow: inset 0 0 2px 1px rgba(0, 141, 210, 0.3);
        border-radius: 5px;
        transition: all 500ms linear;

        &::-webkit-progress-bar {
            background-color: transparent;
            border-radius: 5px;
        }

        @mixin progress-value {
            background-color: var(--blue);
            border-radius: 5px;
            transition: all 500ms linear;
        }

        &::-webkit-progress-value {
            @include progress-value;
        }

        &::-moz-progress-bar {
            @include progress-value;
        }
    }
}

.achievement__rarity {
    display: none;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: var(--grey);
}

.achievement__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 8px;
    border-top: 1px solid rgba(0, 109, 206, 0.15);

    @media (max-width: breakpoints.$tablet) {
        margin-top: 6px;
        grid-area: footer;
    }
}

.achievement__prize {
    --height: 26px;
    --width: 26px;

    margin-left: auto;
    margin-right: 2px;
    min-height: var(--height);
    max-height: var(--height);
    min-width: var(--width);
    max-width: var(--width);
    background-size: contain;
    background-repeat: no-repeat;

    &_bronze {
        background-image: var(--bronze-trophy-url);
    }

    &_silver {
        background-image: var(--silver-trophy-url);
    }

    &_golden {
        background-image: var(--golden-trophy-url);
    }

    &_ruby {
        --height: 27px;
        --width: 18px;

        margin-right: 5px;
        background-image: var(--ruby-trophy-url);
    }
}

.achievement__date {
    @extend %flex-center;

    font-size: 13px;
    color: var(--grey);

    @media (max-width: breakpoints.$small-mobile) {
        font-size: 12px;
    }

    &::before {
        content: '';
        display: inline-block;
        width: 30px;
        height: 20px;
        background-size: contain;
        background-position: 50%;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 612 612' fill='%23505050'%3E%3Cpath d='M612 463.781c0-70.342-49.018-129.199-114.75-144.379-10.763-2.482-21.951-3.84-33.469-3.84-3.218 0-6.397.139-9.562.34-71.829 4.58-129.725 60.291-137.69 131.145-.617 5.494-.966 11.073-.966 16.734 0 10.662 1.152 21.052 3.289 31.078C333.139 561.792 392.584 612 463.781 612 545.641 612 612 545.641 612 463.781zm-148.219 98.016c-54.133 0-98.016-43.883-98.016-98.016s43.883-98.016 98.016-98.016 98.016 43.883 98.016 98.016-43.883 98.016-98.016 98.016z'/%3E%3Cpath d='M482.906 396.844h-33.468v52.594h-52.594v33.468h86.062v-33.468zM109.969 0c-9.228 0-16.734 7.507-16.734 16.734V95.625c0 9.228 7.506 16.734 16.734 16.734h14.344c9.228 0 16.734-7.507 16.734-16.734V16.734C141.047 7.507 133.541 0 124.312 0h-14.343zM372.938 0c-9.228 0-16.734 7.507-16.734 16.734V95.625c0 9.228 7.507 16.734 16.734 16.734h14.344c9.228 0 16.734-7.507 16.734-16.734V16.734C404.016 7.507 396.509 0 387.281 0h-14.343z'/%3E%3Cpath d='M38.25 494.859h236.672A181.687 181.687 0 01271.35 459c0-4.021.177-7.999.435-11.953H71.719c-15.845 0-28.688-12.843-28.688-28.688v-229.5h411.188v88.707c3.165-.163 6.354-.253 9.562-.253 11.437 0 22.61 1.109 33.469 3.141V93.234c0-21.124-17.126-38.25-38.25-38.25h-31.078v40.641c0 22.41-18.23 40.641-40.641 40.641h-14.344c-22.41 0-40.641-18.231-40.641-40.641V54.984H164.953v40.641c0 22.41-18.231 40.641-40.641 40.641h-14.344c-22.41 0-40.641-18.231-40.641-40.641V54.984H38.25C17.126 54.984 0 72.111 0 93.234v363.375c0 21.124 17.126 38.25 38.25 38.25z'/%3E%3Ccircle cx='134.774' cy='260.578' r='37.954'/%3E%3Ccircle cx='248.625' cy='260.578' r='37.954'/%3E%3Ccircle cx='362.477' cy='260.578' r='37.954'/%3E%3Ccircle cx='248.625' cy='375.328' r='37.953'/%3E%3Ccircle cx='134.774' cy='375.328' r='37.953'/%3E%3C/svg%3E%0A");
    }
}